<!DOCTYPE html>
<html lang="ko">
    <head>
            <meta charset="UTF-8">
            <title>모두화가</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../header.css">
            <link rel="stylesheet" href="./home-topic.css">
            <meta name="description" content="우리 모두는 화가입니다.">
    </head>
    <body>
        <!-- Header -->
       
        <div id="header_all">
            <header class="page-header wrapper">
                <div id=header_main>
                    <h1 class="bold logo"><a href="../main.html">모두화가</a></h1>
                    <form class="search-container">
                        <input type="text" id="search-bar" placeholder="오늘은 어떤 그림을 구경할래요?">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div id=header_account>
                    <a href="./login.html">로그인</a>
                    <a href="./register.html">회원가입</a>
                </div>
            </header>
            <nav class="top-nav bold">
                <div id=topnav-container>
                    <a href="../main.html">Home</a>
                    <a href="./index.html">주제</a>
                    <a href="../workboard.html">워크보드</a>
                    <a href="../feed/post.html">피드</a>
                </div>
            </nav>
        </div>
        
        <main id="fantasy">
            <div id="bgimage" class="topic-header">
                <a href="index.html"><i class="fa fa-arrow-left"></i></a>
                <div class="content">
                    <h2 class="topic-title bold">Fantasy</h2>
                    <p class="bold">사람들이 이곳에서 자유롭게 다양한 상상의 나래를 펼칩니다!</p>
                </div>
            </div>
            
            <div class="container_items">
                <a href="#"><img class=detail-picture src="../../resources/starry_night.jpg" alt="별이 빛나는 밤"></a>
                <a href="#"><img class=detail-picture src="../../resources/tiger.jpg" alt="호랑이"></a>
                <a href="#"><img class=detail-picture src="../../resources/23identity.jpg" alt="다중인격"></a>
                <a href="#"><img class=detail-picture src="../../resources/forest.jpg" alt="숲"></a>
                <a href="#"><img class=detail-picture src="../../resources/superrealistic.jpg" alt="초현실"></a>
                <a href="#"><img class=detail-picture src="../../resources/wolf.jpg" alt="늑대"></a>
                <a href="#"><img class=detail-picture src="../../resources/withchild.jpg" alt="아이와함께"></a>
                <a href="#"><img class=detail-picture src="../../resources/moon_in_yard.jpg" alt="초원의달"></a>
            </div>
           
        </main>
            

        
        

    </body>
</html>