:root{
  --theme-color:rgb(191, 216, 238);
}
button{
  background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer}
button:focus{
  border:none;
  outline:none;
}
/* modal */

#main-contents{
    display:flex;
}
.feed{
      position:relative;
      width:80%;
  }
  .feed>ul{
    position:relative;
    padding: 20px 90px;
    background-color: #eeeeee;
  }
  .backward i{
    padding:15px;
    font-size:20px;
  }
  .feed>ul>li{
    padding-bottom:30px;
  }
  .feed::-webkit-scrollbar{
      display:none;
  }
  .post-info{
    
      background-color: rgb(255, 255, 255);
      position: relative;
      margin: 0px;
      padding:30px 30px 30px 60px;
      display:flex;
      align-items:center;
      border: 1px solid #dbdbdb;
  }
  .post-maininfo .text{
      margin-left:80px;
  }
  .post-maininfo .title{
    font-size:1.2rem;
  }
  .user-profile{
      width:60px;
      height:60px;
      border-radius: 70%;
      object-fit:cover;
      position: absolute;
      border:1px solid #575757;
  }
  .post-subinfo{
    position:absolute;
    right:20px;
  }
  .post-subinfo p{
      display:inline-block;
      margin-right:14px;
  }

  .body-contents{
    background-color: rgb(255, 255, 255);
    width:100%;
    padding:50px 10px;
    line-height : 25px;
    border: 1px solid #dbdbdb;
    border-top:none;
    display:flex;
  }
  .body-contents a{
    margin: auto 0;
    padding:50px 20px;
    font-size:30px;
    opacity:0;
    transition:0.25s;
  }
  .body-contents a i{
    margin: auto 0;
  }
  .body-contents a:hover{
    opacity:1;
  }
  .body-contents img{
    width:auto;
    max-width:70%;
    object-fit: cover;
    display:block;
    margin:0 auto;
  }
  .icon-bar{
    background-color: rgb(255, 255, 255);
    padding:15px;
    padding-left:30px;
    font-size:1.3rem;
    border: 1px solid #dbdbdb;
    border-top:none;
    display:flex;
    gap:30px;
    position:relative;
  }
  .icon-bar button{
    font-size:1.3rem;
  }
  .description{
    background-color: rgb(255, 255, 255);
    border: 1px solid #dbdbdb;
    border-top:none;
    padding:15px;
  }

  /* Comments */
  .comments-container{
    margin-top: 40px;
    background-color:rgb(255, 255, 255);
	  border: 1px solid #dbdbdb;
  }
  .comments-container .user-profile{
	  width:60px;
	  height:60px;
	  position:relative;
  }
  .comments-header{
	  display: flex;
	  align-items:center;
	  padding: 20px;
	  position:relative;
	  justify-content:space-between;
    border-bottom:1px solid #dad9d9;
  }
  .comments-filter{
	  margin-right:50px;
  }
  .my-comment{
  margin-top:20px;
	border-top:none;
	display:flex;
	padding:20px;
	padding-left:60px;
	gap:16px;
  }
  .group{
	  display: flex;
	  gap: 20px;
	  align-items:center;
  }
  .comments-post{
      width: 100%;
  }
  input.comment-bar{
	margin: 0 auto;
    width: 85%;
    height: 80px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
  }
  .comment-button{
	width: 60px;
    height: 80px;
    border: 1px solid #D0CFCE;
    background: #D0CFCE;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
  }
  .other-comments-container ul{
    padding:0px;
  }
  .other-comments{
    padding: 15px 6%;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #D0CFCE;
    position:relative;
    display:flex;
    gap:20px;
  }
  
  .other-ccomments{
    padding: 15px 6%;
    padding-left:8%;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #dadada;
    position:relative;
    display:flex;
    gap:20px;
  }
  .my-ccomment{
    padding: 20px 6%;
    padding-left:8%;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #dadada;
    position:relative;
    display:flex;
    gap:20px;
  }
  .my-ccomment .ccomment-bar{
    height:50px;
    width:92%;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
  }
  .my-ccomment .ccomment-button{
    width: 50px;
    height: 50px;
    border: 1px solid #D0CFCE;
    background: #D0CFCE;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
  }

  .seeccomments, .hideccomments{
    font-size:12px;
    color:rgb(0, 70, 199);
  }

  .other-ccomments .user-profile, .my-ccomment .user-profile{
    width:45px;
    height:45px;
    margin:auto 0;
  }
 
  li.first .none-image{
    width:730px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  li.first .update{
    position:absolute;
    right:6%;
    font-size:0.8rem;
  }
  li.first .text{
    display:flex;
  }
  li.first .user{
    margin-bottom:3px;
  }
  li.first .comment-bar2{
    width:100%;
    word-break:break-all;
  }
  li.first .comment-comment-button, li.first .cchidebutton{
    width: 35px;
    height: 25px;
    border: 1px solid #D0CFCE;
    background: #D0CFCE;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 13px;
    display:inline-block;
    position:absolute;
    top:43px;
    right:6%;
  }
  li.first .deletebtn, li.first .ccdeletebtn{
    font-size:0.8rem; 
    position:absolute;
    right:2%;
  }

  aside{
      background-color: #f5f5f5;
      width:250px;
      flex:1;
      text-align: center;
      align-content:center;
  }