@charset "utf-8";
*{
    margin:0;
    padding:0;
    color:black;
    box-sizing: border-box;
    font-family: "Noto Sans CJK KR", Noto Sans KR, sans-serif;
}
html, body{
    font-size : 100%;
    height:100vh;
}
.regular {font-weight : 400;}
.medium {font-weight : 500;}
.bold {font-weight : 700;}
a{
    text-decoration:none;
    outline:none;
}
ul{
    padding:0;
    margin:0;
}
li{
    list-style-type: none;
}
img{
    max-width: 100%;
}
.wrapper{
    width:100%;
    margin: 0 auto;
    padding: 3% 2% 2% 2%;  
}

/*Header*/
#header_all{
    width:100%;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
#user .page-header.wrapper, #detail .page-header.wrapper{
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0;
    width:100%;
    padding: 2% 2% 1.5%;
}
#header_main{
    display:flex;
    width:48%;
    justify-content: space-between;
    margin-left:60px;
}
#header_account{
    display:flex;
    gap:40px;
    margin-right:60px;
    padding: auto 0;
}
#header_account a{
    margin: auto 0;
    text-align: center;
}
.logged{
   padding:12px 10px;
   margin-right:4%;
}

/* Main Menu */
.top-nav{
    background: #f1f1f1;;
    padding: 15px 15px;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
}
#topnav-container{
    font-size: 1rem;
    display: flex;
    width:440px;
    margin-left:60px;
    justify-content: space-between;
}

#user .top-nav, #detail .top-nav{
    /* background: #f1f1f1; */
    background: #ffffff;;
    padding: 0 0;
    border: 1px solid #dbdbdb;
    border-top:none;
    border-bottom:none;
    width:5%;
    height:100%;
}
#user #topnav-container, #detail #topnav-container{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width:100%;
    padding:10px;
    padding-top:40px;
    gap:70px;
    margin:0 0;
    text-align: center;
}
#user #topnav-container a, #detail #topnav-container a{
    line-height: 1.2;
}

/* search */
.search-container{
    width: 490px;
    display: flex;
    margin: 0 auto;
}
input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.searchButton {
    width: 50px;
    height: 45px;
    border: 1px solid #D0CFCE;
    background: #dadada;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
/* footer */
footer{
    padding:20px;
    text-align: center;
    background-color: #f1f1f1;;
    font-size:12px;
}