/* footer */
footer{
    padding:20px;
    text-align: center;
    background-color: #f1f1f1;;
    font-size:12px;
}
/* Main Menu */
.top-nav{
    background: #f1f1f1;
    padding: 15px 15px;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
}
#topnav-container{
    font-size: 1rem;
    display: flex;
    width:440px;
    margin-left:60px;
    justify-content: space-between;
}
/* search */
.search-container{
    width: 490px;
    display: flex;
    margin: 0 auto;
}
input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.searchButton {
    width: 50px;
    height: 45px;
    border: 1px solid #D0CFCE;
    background: #D0CFCE;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* Main contents */
/* 1. Home */
main{
    padding: 10px 4%;
    padding-top:20px;
    padding-bottom:20px;
    background: #c2d2e9;
}
main a.title{
    background: #fdbfbfd3;
    padding: 5px 20px;
    text-align:center;
}
main div.title{
    background: #fdbfbfd3;
    padding: 5px 20px;
    text-align:center;
    display:inline-block;
}


/* 1-1. Popular Works */
.popular_works{
    background: #eeeeee;
    padding: 30px 30px 20px;
}
#workboard.popular_works{
    background: #eeeeee;
}
#workboard.works-header{
    display:flex;
    align-items: center;
}
#workboard .container_works{
    margin: 0px auto;
    margin-top:10px;
    padding:10px;
    width:auto;
}
#workboard .text_content{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    opacity:0;
    transition: opacity 0.25s;
}
#workboard .text_content:hover{
    opacity:1;
}
#workboard .text_content *{
    color:white;
}
#workboard .text_content .title{
    font-size:1.1rem;
    margin-bottom:10px;
}
#workboard .text_content .artists::before{
    content: "- ";
    color:white;
    
}
#workboard .text_content .artists{
    margin-bottom:10px;
}
.text_content .sub_description{
    display:flex;
}

#workboard .container_works .mason-item{
    display:inline-block;
    height:auto;
    width:24%;
    position:relative;
    line-height:1;
    margin-bottom:5px;
}
#workboard .container_works img{
    width:100%;
    height:100%;
    object-fit: cover;
    vertical-align: bottom;
    
}
#main_popular.container_works{
    margin-top:20px;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(4,1fr);
    background: #eeeeee;
    place-content: center;
}
#main_popular.container_works a{
    display:block;
    padding:0px;
    margin: 0 auto;
    width:100%;
    height: 233px;
}
#main_popular.container_works img{
    width:100%;
    height:100%;
    object-fit:cover;
    margin: 0 auto;
}
/* 1-2. Popular exhibition */
/* 1-3. Popular artists */
.popular_sub{
    display:flex;
    justify-content: space-between;
    text-align:left;
    height:470px;
    margin-top:20px;
    width:100%;
    
}
.popular_artists{
    background: #eeeeee;
    width:28%;
    padding: 30px 30px;
    
}
.popular_exhibition{
    width:70%;
    background: #eeeeee;
    padding: 30px 30px;
}
/* popular artists */
.container_artists{
    margin-top:25px;
    display: flex;
    flex-direction:column;
    gap:0px;
}
.container_artists img{
    width: 80px;
    height:80px;
    object-fit: cover;
    border-radius:70%;
}
.container_artists li{
    display: flex;
    padding:10px 0px 10px 10px;
    border-top:1px solid #999999;
}
.container_artists .artists_text{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;

}
.container_artists .username{
    font-size:1.2rem;
}
.container_artists .user_intro{
    font-size:0.8rem;
}
/* popular exhibition */
.contatiner_exhibition{
    display: flex;
    padding-top:10px;
    padding-bottom:10px;
    align-items:center;
}
.contatiner_exhibition img{
    height: 380px;
    width:auto;
    object-fit:cover;
}
.contatiner_exhibition .button{
    background-color: #c2c2c2;
    padding:20px;
    margin-left:20px;
}
/* Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
}
  
  .dd-button {
    display: inline-block;
    border-radius: 4px;
    padding: 7px 30px 7px 10px;
    background-color: #fdbfbfd3;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    z-index:9999;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
