@charset "utf-8";


:root{
    --theme-color:rgb(191, 216, 238);
  }
/* 레이아웃 틀 */
html {
    height: 100%;
}
*{
    font-family: "Noto Sans CJK KR", Noto Sans KR, sans-serif;
}
body {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
}
#logo {
    width: 240px;
    height: 44px;
    cursor: pointer;
}

a{
    text-decoration:none;
    outline:none;
}
a *{
	color: black;
}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

input:focus {outline:none;}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    outline:none;
  }
button.dupcheck{
    display:inline-block;
    background-color: var(--theme-color);
    padding:5px 9px;
    cursor:pointer;
}

  .medium {font-weight : 500;}
  .bold {font-weight : 700;}
header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
}
#wrapper {
    position: relative;
}

#content {
    position: relative;
    margin:0px 50%;
    transform: translate(-50%);
    width: 430px;
}
footer{
    padding:20px;
    text-align: center;
    font-size:12px;
	margin-top:80px;
	background-color: var(--body-background-color);
}
/* 입력폼 */


h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}


.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}
#idcheck .box, #nickcheck .box, #emailcheck .box{
    width: 90%;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: rgb(255, 255, 255);
    font-size: 15px;
}


.pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
}

/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
}

#alertTxt {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 12px;
    color: red;
    display: none;
}

/* 버튼 */

.btn_area {
    margin: 30px 0 20px;
}

#btnJoin{
	width: 100%;
	height :50px;
	font-size: 18px;
    cursor: pointer;
	background: rgb(191, 216, 238);
	color: black;
}
/* 로그인 링크 */
#content .link{
    text-align: center;
}
.already-member{
    display:inline-block;
    color:#4e4e4e;
    font-size:14px;
    margin:0px auto;
}