<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <meta charset="UTF-8">
            <title>모두화가</title>
            <script src="https://kit.fontawesome.com/03b31c0e0f.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="header.css">
            <link rel="stylesheet" href="mainbody.css">
            <meta name="description" content="우리 모두는 화가입니다.">
            
            <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
            <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    </head>
    <body>
        <!-- Header -->
       
        <div id="header_all">
            <header class="page-header wrapper">
                <div id=header_main>
                    <h1 class="bold logo"><a href="main.html">모두화가</a></h1>
                    <form class="search-container">
                        <input type="text" id="search-bar" placeholder="오늘은 어떤 그림을 구경할래요?">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div id=header_account>
                    <a href="./login.html">로그인</a>
                    <a href="./register.html">회원가입</a>
                </div>
            </header>
            <nav class="top-nav bold">
                <div id=topnav-container>
                    <a href="main.html">Home</a>
                    <a href="./topic/index.html">주제</a>
                    <a href="./workboard.html">워크보드</a>
                    <a href="./feed/post.html">피드</a>
                </div>
            </nav>
        </div>
        <!-- Contents_Home //most views, hot gallaries, hot artists -->
       
        <main id="workboard" class="popular_contents">
        
            <div class="popular_works">
                <div class="works-header">
                    <label class="dropdown">

                        <div class="dd-button">
                          인기 순
                        </div>
                      
                        <input type="checkbox" class="dd-input" id="test">
                      
                        <ul class="dd-menu">
                          <li>최신 순</li>
                          <li>1주일 내</li>
                          <li>1달 내</li>
                          <li>1년 내</li>
                        </ul>
                        
                    </label>
                </div>
                
                <div class="container_works">
                    <a href="#" class="mason-item">
                        <img class="mason-image" src="../resources/starry_night.jpg" alt="별이 빛나는 밤">
                        <div class="text_content">
                            <p class="title">별이 빛나는 밤</p>
                            <p class="artists">발밤발밤</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/tiger.jpg" alt="호랑이">
                        <div class="text_content">
                            <p class="title">호랑이</p>
                            <p class="artists">어흥</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/23identity.jpg" alt="다중인격">
                        <div class="text_content">
                            <p class="title">다중인격</p>
                            <p class="artists">고몽</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/forest.jpg" alt="숲">
                        <div class="text_content">
                            <p class="title">숲속의 정령</p>
                            <p class="artists">전사</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/superrealistic.jpg" alt="초현실">
                        <div class="text_content">
                            <p class="title">초현실주의</p>
                            <p class="artists">호방호방</p>
                            
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/wolf.jpg" alt="늑대">
                        <div class="text_content">
                            <p class="title">늑대</p>
                            <p class="artists">wolf</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/withchild.jpg" alt="아이와함께">
                        <div class="text_content">
                            <p class="title">with Child</p>
                            <p class="artists">고몽</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/moon_in_yard.jpg" alt="초원의달">
                        <div class="text_content">
                            <p class="title">초원의 달</p>
                            <p class="artists">노마드</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/starry_night.jpg" alt="별이 빛나는 밤">
                        <div class="text_content">
                            <p class="title">별이 빛나는 밤</p>
                            <p class="artists">발밤발밤</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/tiger.jpg" alt="호랑이">
                        <div class="text_content">
                            <p class="title">별이 빛나는 밤</p>
                            <p class="artists">발밤발밤</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/23identity.jpg" alt="다중인격">
                        <div class="text_content">
                            <p class="title">별이 빛나는 밤</p>
                            <p class="artists">발밤발밤</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/forest.jpg" alt="숲">
                        <div class="text_content">
                            <p class="title">별이 빛나는 밤</p>
                            <p class="artists">발밤발밤</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/superrealistic.jpg" alt="초현실">
                        <div class="text_content">
                            <p class="title">별이 빛나는 밤</p>
                            <p class="artists">발밤발밤</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/wolf.jpg" alt="늑대">
                        <div class="text_content">
                            <p class="title">별이 빛나는 밤</p>
                            <p class="artists">발밤발밤</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/withchild.jpg" alt="아이와함께">
                        <div class="text_content">
                            <p class="title">별이 빛나는 밤</p>
                            <p class="artists">발밤발밤</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="mason-item"><img class="mason-image" src="../resources/moon_in_yard.jpg" alt="초원의달">
                        <div class="text_content">
                            <p class="title">별이 빛나는 밤</p>
                            <p class="artists">발밤발밤</p>
                            <div class="sub_desciption">
                                <i class="fas fa-heart"></i>
                                <span class="likes">89</span>&nbsp;&nbsp;
                                <i class="fas fa-comment"></i>
                                <span class="comments">302</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            

        </main>     
        <script src="./js/input_limit.js"></script>
        <script src="./js/masonry.js"></script>
    </body>
</html>