:root{
    --main-side:10%;
    --theme-color:rgb(191, 216, 238);
}
button{
  border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer}
button:focus{
  border:none;
  outline:none;
}
html, body{
    width:100%;
    height:100%;
}
main{
    display: flex;
    width:100%;
    background-color: #eeeeee;
    height:100%;
}
#main-contents{
    width:100%;
    background-color: #eeeeee;
}
#write #main-contents{
  height:110%;
}
textarea{
  outline:none;
}
select:focus{
  outline:none;
}

/* User-header */
.user-nav{
    background-color: rgb(248, 248, 248);
    padding: 15px var(--main-side);
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
#usernav-container{
    font-size: 0.9rem;
    display: flex;
    width:370px;
    justify-content: space-between;
}

.user-info{
    background-color: rgb(248, 248, 248);
    margin: 0 0;
    padding:30px var(--main-side) 30px;
    display:flex;
    align-items:center;
    width:100%;
    justify-content: space-between;
}
.user-maininfo{
    position: relative;
    display:flex;
    gap:20px;
    align-items:center;
}
.user-subinfo{
    font-size: 0.9rem;
}
.user-profile{
    width:63px;
    height:63px;
    border-radius: 70%;
    object-fit:cover;
    border:2px solid #7c7c7c;
}
.user-option{
    display:flex;
    gap:10px;
}

/* Dropdown and button design*/

.dropdown {
    display: inline-block;
    position: relative;
}
  
  .dd-button {
    display: inline-block;
    border-radius: 4px;
    padding: 7px 30px 7px 10px;
    background: rgb(191, 216, 238);
    cursor: pointer;
    white-space: nowrap;
    font-size:0.9rem;
    border:none;
  }
  button.dd-button{
    padding: 7px 10px;
    text-align: center;
  }
  
  .dropdown .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    z-index:9999;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:hover + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 12px;
    cursor: pointer;
    white-space: nowrap;
    font-size:0.9rem;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
/* Wrapper */

#user #main-contents .wrapper, #detail #main-contents .wrapper{
    padding: 30px 5% 0px;
    width:100%;
    background-color: #eeeeee;
}
#user #main-contents .subcontainer, #detail #main-contents .subcontainer{
  padding-bottom:20px;
  border-bottom: 1px solid #c9c9c9;
}
.container-wrapper .subcontainer{
  display:flex;
  border-bottom: none;
  width:100%;
}
.container-wrapper{
  width:100%;
  padding:0 5%;
  background-color: #eeeeee;
}
#artist-wrapper{
  border-right: 1px solid #c9c9c9;
  width:30%;
  padding: 30px 0 10px;
}
/* shop wrapper */
#shop-wrapper{
  padding: 30px 8px 10px;
  width:70%;
}

  /* Home */
  .user-title{
    display:flex;
    align-items:center;
    padding: 15px 29px 0px 18px;
    position:relative;
    justify-content: space-between;
    width:100%;
}
.user-title .titleinfo{
    display:flex;
    align-items:center;
}
.user-title .maininfo{
    font-size:1.0rem;
    margin-right:10px;
}
.user-title .more *{
  font-size:0.9rem;
}
.user-title .more button{
  margin-left:8px;
}
.user-title .gallary-add, .gallary-done, .gallary-name-edit{
  display:none;
}
.gallary-name-edit{
  cursor:pointer;
}
#ajaxg .item{
  position:relative;
}
.gallary-delete{
  z-index:0;
  position:absolute;
  top:0px;
  right:0px;
  font-size:1.2rem;
  display:none;
}


.works-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px 30px 20px;
    width:100%;
    gap:5px;
}
.works-container .item{
    display:block;
    margin:0px auto;
    width:100%;
    height:220px;
    background-color: white;
}
.works-container img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    margin: 0 auto;
}
/* 갤러리 폴더 이름 보이도록 수정 */

#gallary-wrapper .works-container img{
  height:75%;
}
#gallary-wrapper .works-container .gallary-name{
  height:25%;
  font-size:1.0rem;
  padding:16px 10px;
}
#gallary-wrapper .works-container .item{
  text-align: center;
}
#shop.works-container .item{
 height: auto;
}
#shop.works-container .item img{
  height: 180px;
}
.works-container .post{
    width:100%;
    height:126px;
    background-color: #ffffff;
    border:1px solid #cfcfcf;
    padding:15px;
    position: relative;
    overflow: hidden;
}
.works-container .post-title{
    font-size:1.0rem;
    position:absolute;
    top:10px;
    margin-right:15px;
}
.works-container .post-date{
    color:dimgray;
    font-size:0.8rem;
    position:absolute;
    bottom: 30px;
}
.works-container .post-comments{
    margin-right:10px;
}
.works-container .post-subinfo{
    display:flex;
    font-size:0.9rem;
    position: absolute;
    bottom:10px;
}

#container_artists{
    margin-top:25px;
    display: flex;
    flex-direction:column;
    gap:0px;
    padding:0px 30px;
    
}
#container_artists .dd-button{
  position: absolute;
  right:1%;
}
#container_artists img{
    width: 55px;
    height:55px;
    object-fit: cover;
    border-radius:70%;
}
#container_artists li{
    display: flex;
    padding:10px 0px 10px 10px;
    border-top:1px solid #b1b1b1;
    align-items:center;
    position:relative;
}
#container_artists .artists_text{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;

}
#container_artists .user_intro{
    font-size:0.9rem;
}

/* Write */

#write .form-group{
  width:80%;
  margin:0 auto;
  margin-top:10px;
}
#write #title, #write #artist-statement{
  padding:10px;
  border:1px solid #dbdbdb;
  margin-bottom:10px;
  margin-top:10px;
}
#write .form-group button{
  margin-top:20px;
  margin-right:10px;
}
#write input:focus{
  border:none;
  outline:none;
}

/* Work-post */

.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border:1px solid #dbdbdb;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  border: 4px dashed var(--theme-color);
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: var(--theme-color);
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: black;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 600px;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 80px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 8px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}


 /* artist-container */
 .works-container li{
  background-color: rgb(255, 255, 255);
  width:100%;
  height:100%;
  padding:20px;
  border:1px solid rgb(206, 206, 206);
  text-align: center;
}
.works-container .artist-profile{
width:80px;
height:80px;
border-radius: 70%;
object-fit: cover;
margin-bottom:10px;
}
.works-container .artist-name{
  font-size:1.1rem;
}
.works-container .follower-info, .artist-followers{
display:flex;
justify-content: center;
font-size:0.8rem;
color:rgb(78, 78, 78);
}
.works-container .artist-explain{
margin-top:10px;
}
/* 메이슨리 */
#user .container_works{
  margin: 0px auto;
  margin-top:10px;
  padding:10px 30px;
  width:100%;
}
#user .text_content{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  opacity:0;
  transition: opacity 0.25s;
}
#user .text_content:hover{
  opacity:1;
}
#user .text_content *{
  color:white;
}
#user .text_content .title{
  font-size:1.1rem;
  margin-bottom:10px;
}
#user .text_content .artists::before{
  content: "- ";
  color:white;
  
}
#user .text_content .artists{
  margin-bottom:10px;
}
.text_content .sub_description{
  display:flex;
}

#user .container_works .mason-item{
  display:inline-block;
  height:auto;
  width:23.5%;
  position:relative;
  line-height:1;
  margin-bottom:5px;
}
#user .container_works img{
  width:100%;
  height:100%;
  object-fit: cover;
  vertical-align: bottom;
  
}

.goods-info{
  padding:8px;
  background-color: rgb(255, 255, 255);
  line-height:1.3;
  font-size:0.9rem;
}
.goods-info .subinfo{
  display:flex;
  justify-content: space-between;
}
.price, .artist{
  display:flex;
}


