.page-header{
    width:1440px;
    margin: 0 auto;
    padding: 3% 0% 2% 0%;
}
main{
    padding: 0px 4%;
    padding-bottom:20px;
    background-color: #f7f7f7;
    position:relative;
}
#search-header{
    position:relative;
}
#search-result{
    display:flex;
    align-items:center;
    font-size:1.2rem;
    padding: 50px 20px 20px 20px;
}

#searchnav-container{
    padding: 8px 20px;
    border-bottom: 1px solid #999999;
}
#searchnav-container .searchnav-link{
    margin-right:50px;
}
#topnav-container{
    font-size: 1rem;
    display: flex;
    width:440px;
    margin-left:60px;
    justify-content: space-between;
}
/* results */
main>p{
    display:inline-block;
    margin-top:25px;
    color:rgb(124, 124, 124);
    font-size:0.9rem;
    margin-bottom:15px;
}
.results-doc{
    margin-left:20px;
}
/* works-results */
.search-title{
    display:flex;
    align-items:center;
    padding: 15px 50px 0px 40px;
    position:relative;
    justify-content: space-between;
    width:100%;
}
.search-title .titleinfo{
    display:flex;
    align-items:center;
}
.search-title .maininfo{
    font-size:1.2rem;
    margin-right:10px;
}
.wrapper{
    padding-top:30px;
    background: #ffffff;
    padding-bottom:10px;
    border-bottom: 1px solid #c9c9c9;
    width:100%
}
.works-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px 51px 20px;
    width:100%;
    gap:5px;
}
.works-container .item{
    display:block;
    margin:0px auto;
    text-align: center;
    background-color: blueviolet;
}
.works-container img{
    width:100%;
    height:100%;
    max-width:324px;
    max-height:230px;
    object-fit:cover;
    display:block;
    margin: 0 auto;
}
/* Post */
.container-wrapper{
    display:flex;
    width:100%;
}

.works-container .post{
    width:100%;
    height:126px;
    background-color: #ffffff;
    border:1px solid #cfcfcf;
    padding:15px;
    position: relative;
}
.works-container .post-title{
    font-size:1.1rem;
    position:absolute;
    top:10px;
    margin-right:15px;
}
.works-container .post-date{
    color:dimgray;
    font-size:0.8rem;
    position:absolute;
    bottom: 30px;
}
.works-container .post-writer{
    margin-right:10px;
}
.works-container .user-info{
    display:flex;
    font-size:0.9rem;
    position: absolute;
    bottom:10px;
}
#artist-wrapper{
    padding-top:30px;
    background-color: rgb(250, 250, 250);
    padding-bottom:10px;
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    width:30%
}
#container_artists{
    margin-top:25px;
    display: flex;
    flex-direction:column;
    gap:0px;
    padding:0px 30px;
}
#container_artists img{
    width: 55px;
    height:55px;
    object-fit: cover;
    border-radius:70%;
}
#container_artists li{
    display: flex;
    padding:5px 0px 5px 10px;
    border-top:1px solid #b1b1b1;
    align-items:center;
}
#container_artists .artists_text{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;

}
#container_artists .user_intro{
    font-size:0.9rem;
}
/* shop wrapper */
#shop-wrapper{
    padding-top:30px;
    background-color: rgb(250, 250, 250);
    padding-bottom:10px;
    border-bottom: 1px solid #c9c9c9;
    width:70%
}

/* button */
  
  /* Dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 7px 30px 7px 10px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 20px;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 20px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    z-index:9999;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }