.msg{
    text-align: center;
    margin : 90px auto;
    background-color: rgb(255, 255, 255);
    width:100%;
}
button{
    background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer}
  button:focus{
    border:none;
    outline:none;
  }
html,body{
    width:100%;
}
main{
    padding: 0px 4%;
    padding-bottom:20px;
    background-color: #f7f7f7;
    position:relative;
    width:100%;
}
#search-header{
    position:relative;
}
#search-result{
    display:flex;
    align-items:center;
    font-size:1.2rem;
    padding: 50px 20px 20px 20px;
}

#searchnav-container{
    padding: 8px 20px;
    border-bottom: 1px solid #999999;
}
#searchnav-container .searchnav-link{
    display:inline-block;
    margin-right:50px;
}
.searchnav-link button{
    font-size:1.0rem;
}
/* results */
main>p{
    display:inline-block;
    margin-top:25px;
    color:rgb(124, 124, 124);
    font-size:0.9rem;
    margin-bottom:15px;
}
.results-doc{
    margin-left:20px;
}
/* works-results */
.search-title{
    display:flex;
    align-items:center;
    padding: 15px 50px 0px 40px;
    position:relative;
    justify-content: space-between;
    width:100%;
}
.search-title .titleinfo{
    display:flex;
    align-items:center;
}
.search-title .maininfo{
    font-size:1.2rem;
    margin-right:10px;
}
#search{
  min-height:76%;
}
#search .wrapper{
    padding-top:30px;
    background: #ffffff;
    padding-bottom:10px;
    border-bottom: 1px solid #c9c9c9;
    min-height:400px;
    
}
.works-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px 51px 20px;
    width:100%;
    gap:5px;
}
.works-container .item{
    display:block;
    margin:0px auto;
    width:100%;
    height:240px;
    position:relative;
}
.works-container img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    margin: 0 auto;
}
#shop-container .item{
    height:280px;
}
#shop-container img{
    height:70%;
}
/* Post */
.container-wrapper{
    display:flex;
    width:100%;
}

.works-container .post{
    width:100%;
    height:126px;
    background-color: #ffffff;
    border:1px solid #cfcfcf;
    padding:15px;
    position: relative;
}
.works-container .post-title{
    font-size:1.1rem;
    position:absolute;
    top:10px;
    margin-right:15px;
}
.works-container .post-date{
    color:dimgray;
    font-size:0.8rem;
    position:absolute;
    bottom: 30px;
}
.works-container .post-writer{
    margin-right:10px;
}
.works-container .user-info{
    display:flex;
    font-size:0.9rem;
    position: absolute;
    bottom:10px;
}
#artist-wrapper{
    padding:30px 10px 10px 10px;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    width:30%;
}
#container_artists{
    margin-top:25px;
    display: flex;
    flex-direction:column;
    gap:0px;
    padding:0px 30px;
}
#container_artists img{
    width: 55px;
    height:55px;
    object-fit: cover;
    border-radius:70%;
}
#container_artists li{
    display: flex;
    padding:5px 0px 5px 10px;
    border-top:1px solid #b1b1b1;
    align-items:center;
}
#container_artists .artists_text{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;

}
#container_artists .user_intro{
    font-size:0.9rem;
}
/* shop wrapper */
#shop-wrapper{
    padding:30px 0px 10px 0px;
    background-color: rgb(250, 250, 250);
    padding-bottom:10px;
    border-bottom: 1px solid #c9c9c9;
    width:70%
}

/* button */
  
  /* Dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    display: inline-block;
    border-radius: 4px;
    padding: 7px 30px 7px 10px;
    background: rgb(191, 216, 238);
    cursor: pointer;
    white-space: nowrap;
    margin-left: 20px;
  }
  button.dd-button{
    margin:0px;
    padding: 7px 10px;
    text-align: center;
    background: rgb(191, 216, 238);
    border:none;
  }
  
  .dropdown .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: rgb(201, 224, 247);
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 20px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    z-index:9999;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }

  /* artist-container */
  .works-container li{
    background-color: rgb(255, 255, 255);
    width:100%;
    height:100%;
    padding:20px;
    border:1px solid rgb(206, 206, 206);
    text-align: center;
  }
  #subscribe.works-container li{
    background-color: rgb(247, 247, 247);
    border:1px solid rgb(230, 230, 230);
  }
  .works-container .artist-profile{
    width:80px;
    height:80px;
    border-radius: 70%;
    object-fit: cover;
    margin-bottom:10px;
    }
    .works-container .artist-name{
      font-size:1.1rem;
    }
    .works-container .follower-info, .artist-followers{
    display:flex;
    justify-content: center;
    font-size:0.8rem;
    color:rgb(78, 78, 78);
    }
    .works-container .artist-explain{
    margin-top:10px;
    }

/* shop grid */
#shop-container .goods-info{
    padding:10px;
    padding-bottom:11px;
    background-color: rgb(238, 238, 238);
}
#shop-container .goods-info .subinfo{
    display:flex;
    justify-content: space-between;
}
#shop-container .price, #shop-container .artist{
    display:flex;
}

#shop-wrapper .goods-info{
    padding:8px;
    background-color: rgb(255, 255, 255);
    line-height:1.3;
    font-size:0.9rem;
  }
  #shop-wrapper .goods-info .subinfo{
    display:flex;
    justify-content: space-between;
  }
  #shop-wrapper .price, #shop-wrapper .artist{
    display:flex;
  }
#shop-wrapper .works-container .item{
 height: auto;
}
#shop-wrapper .works-container .item img{
  height: 180px;
}
/* hover animation */

.text_content{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    opacity:0;
    transition: opacity 0.25s;
}
.text_content:hover{
    opacity:1;
}
.text_content *{
    color:white;
}
.text_content .title{
    font-size:1.1rem;
    margin-bottom:10px;
}
.text_content .artists::before{
    content: "- ";
    color:white;
    
}
.text_content .artists{
    margin-bottom:10px;
}
.text_content .sub_description{
    display:flex;
}

/* Gallary name */

#gallary-wrapper .works-container img{
    height:75%;
  }
  #gallary-wrapper .works-container .gallary-text{
    height:25%;
    padding:10px;
  }
  #gallary-wrapper .works-container .gallary-name{
    font-size:1.0rem;
  }
  #gallary-wrapper .works-container .gallary-author{
    font-size:0.9rem;
  }
  #gallary-wrapper .works-container .item{
    text-align: center;
    border:1px solid #c9c9c9;
  }

  /* masonry */
  .container_works{
    margin: 0px auto;
    margin-top:10px;
    padding:10px 30px;
    width:100%;
  }
.container_works .mason-item{
    display:inline-block;
    height:auto;
    width:23.5%;
    position:relative;
    line-height:1;
    margin-bottom:5px;
}
.container_works img{
    width:100%;
    height:100%;
    object-fit: cover;
    vertical-align: bottom;
}

