main{
    padding: 0px 4%;
    padding-bottom:20px;
    background-color: #f7f7f7;
    position:relative;
}
#search-header{
    position:relative;
}
#search-result{
    display:flex;
    align-items:center;
    font-size:1.2rem;
    padding: 50px 20px 20px 20px;
}

#searchnav-container{
    padding: 8px 20px;
    border-bottom: 1px solid #999999;
}
#searchnav-container .searchnav-link{
    margin-right:50px;
}
#topnav-container{
    font-size: 1rem;
    display: flex;
    width:440px;
    margin-left:60px;
    justify-content: space-between;
}
/* results */
main>p{
    display:inline-block;
    margin-top:25px;
    color:rgb(124, 124, 124);
    font-size:0.9rem;
    margin-bottom:15px;
}
.results-doc{
    margin-left:20px;
}
/* works-results */
.search-title{
    display:flex;
    align-items:center;
    padding: 15px 50px 0px 40px;
    position:relative;
    justify-content: space-between;

}
.search-title .titleinfo{
    display:flex;
    align-items:center;
}
.search-title .maininfo{
    font-size:1.2rem;
    margin-right:10px;
}
.wrapper{
    padding-top:30px;
    background: #ffffff;
    padding-bottom:10px;
    border-bottom: 1px solid #c9c9c9;
    width:100%
}
.works-container{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(4,1fr);
    padding: 20px 30px 20px;
}
.works-container img{
    width:324px;
    height:218px;
    object-fit:cover;
}
/* Post */

.works-container .post{
    width:324px;
    height:126px;
    background-color: rgb(250, 250, 250);
    border:1px solid #cfcfcf;
    padding:15px;
    position: relative;
}
.works-container .post-title{
    font-size:1.1rem;
    position:absolute;
    top:10px;
    margin-right:15px;
}
.works-container .post-date{
    color:dimgray;
    font-size:0.8rem;
    position:absolute;
    bottom: 30px;
}
.works-container .post-writer{
    margin-right:10px;
}
.works-container .user-info{
    display:flex;
    font-size:0.9rem;
    position: absolute;
    bottom:10px;
}
