<!DOCTYPE html>
<html lang="ko">
    <head>
            <meta charset="UTF-8">
            <title>모두화가</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../header.css">
            <link rel="stylesheet" href="./index.css">
            
            <meta name="description" content="우리 모두는 화가입니다.">
    </head>
    <body>
        <!-- Header -->
       
        <div id="header_all">
            <header class="page-header">
                <div id=header_main>
                    <h1 class="bold logo"><a href="main.html">모두화가</a></h1>
                    <form class="search-container">
                        <input type="text" id="search-bar" placeholder="오늘은 어떤 그림을 구경할래요?">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div id=header_account>
                    <a href="../login.html">로그인</a>
                    <a href="../register.html">회원가입</a>
                </div>
            </header>
            <nav class="top-nav bold">
                <div id=topnav-container>
                    <a href="../main.html">Home</a>
                    <a href="../topic/index.html">주제</a>
                    <a href="../workboard.html">워크보드</a>
                    <a href="../feed/post.html">피드</a>
                </div>
            </nav>
        </div>

        <main>
            <div id="search-header">
                <div id="search-result">'<p id="search-word" class="bold">호랑이</p>'<p>&nbsp;에 대한 검색 결과</p></div>
                <nav id="searchnav-container">
                    <a class="searchnav-link"href="./index.html">통합</a>
                    <a class="searchnav-link"href="./works.html">작품</a>
                    <a class="searchnav-link" href="./post.html">작가노트</a>
                    <a class="searchnav-link" href="./gallary.html">갤러리</a>
                    <a class="searchnav-link" href="./artists.html">작가</a>
                    <a class="searchnav-link" href="./shop.html">상점</a>
                </nav>
            </div>
           
                <div class="wrapper" id="post-wrapper">
                    <div class="search-title">
                        <div class="titleinfo">
                            <p class="bold maininfo">작가노트</p>
                            <p id="postcnt">528</p>
                            <label class="dropdown">

                                <div class="dd-button">
                                  인기 순
                                </div>
                              
                                <input type="checkbox" class="dd-input" id="test">
                              
                                <ul class="dd-menu">
                                  <li>최신 순</li>
                                  <li>1주일 내</li>
                                  <li>1달 내</li>
                                  <li>1년 내</li>
                                </ul>
                                
                              </label>
                        </div>
                    </div>
                    
                    
                    <div class="works-container">
                        <a class="post" href="#">
                            <p class="post-title bold">호랑이와 사자에 대한 고찰과 호랑이와 사자의 관계성</p>
                            <p class="post-date">2021-01-24</p>
                            <div class="user-info">
                                <p class="post-writer">Username</p>&nbsp;|&nbsp;
                                <p class="likes">89</p>&nbsp;
                                <p>likes</p>
                            </div>
                        </a>
                        <a class="post" href="#">
                            <p class="post-title bold">호랑이와 사자에 대한 고찰과 호랑이와 사자의 관계성</p>
                            <p class="post-date">2021-01-24</p>
                            <div class="user-info">
                                <p class="post-writer">Username</p>&nbsp;|&nbsp;
                                <p class="likes">89</p>&nbsp;
                                <p>likes</p>
                            </div>
                        </a>
                        <a class="post" href="#">
                            <p class="post-title bold">호랑이와 사자에 대한 고찰과 호랑이와 사자의 관계성</p>
                            <p class="post-date">2021-01-24</p>
                            <div class="user-info">
                                <p class="post-writer">Username</p>&nbsp;|&nbsp;
                                <p class="likes">89</p>&nbsp;
                                <p>likes</p>
                            </div>
                        </a>
                        <a class="post" href="#">
                            <p class="post-title bold">호랑이와 사자에 대한 고찰과 호랑이와 사자의 관계성</p>
                            <p class="post-date">2021-01-24</p>
                            <div class="user-info">
                                <p class="post-writer">Username</p>&nbsp;|&nbsp;
                                <p class="likes">89</p>&nbsp;
                                <p>likes</p>
                            </div>
                        </a>
                        <a class="post" href="#">
                            <p class="post-title bold">호랑이와 사자에 대한 고찰과 호랑이와 사자의 관계성</p>
                            <p class="post-date">2021-01-24</p>
                            <div class="user-info">
                                <p class="post-writer">Username</p>&nbsp;|&nbsp;
                                <p class="likes">89</p>&nbsp;
                                <p>likes</p>
                            </div>
                        </a>
                        <a class="post" href="#">
                            <p class="post-title bold">호랑이와 사자에 대한 고찰과 호랑이와 사자의 관계성</p>
                            <p class="post-date">2021-01-24</p>
                            <div class="user-info">
                                <p class="post-writer">Username</p>&nbsp;|&nbsp;
                                <p class="likes">89</p>&nbsp;
                                <p>likes</p>
                            </div>
                        </a>
                        <a class="post" href="#">
                            <p class="post-title bold">호랑이와 사자에 대한 고찰과 호랑이와 사자의 관계성</p>
                            <p class="post-date">2021-01-24</p>
                            <div class="user-info">
                                <p class="post-writer">Username</p>&nbsp;|&nbsp;
                                <p class="likes">89</p>&nbsp;
                                <p>likes</p>
                            </div>
                        </a>
                        <a class="post" href="#">
                            <p class="post-title bold">호랑이와 사자에 대한 고찰과 호랑이와 사자의 관계성</p>
                            <p class="post-date">2021-01-24</p>
                            <div class="user-info">
                                <p class="post-writer">Username</p>&nbsp;|&nbsp;
                                <p class="likes">89</p>&nbsp;
                                <p>likes</p>
                            </div>
                        </a>
                    </div>
                </div>
                
                
        </main>



        
    </body>
</html>
