<!DOCTYPE html>
<html lang="ko">
    <head>
            <meta charset="UTF-8">
            <title>모두화가</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../header.css">
            <link rel="stylesheet" href="./feedstyle.css">
            <meta name="description" content="우리 모두는 화가입니다.">
    </head>
    <body>
        <!-- Header -->
       
        <div id="header_all">
            <header class="page-header wrapper">
                <div id=header_main>
                    <h1 class="bold logo"><a href="../main.html">모두화가</a></h1>
                    <form class="search-container">
                        <input type="text" id="search-bar" placeholder="오늘은 어떤 그림을 구경할래요?">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div id=header_account>
                    <a href="../login.html">로그인</a>
                    <a href="../register.html">회원가입</a>
                </div>
            </header>
            <nav class="top-nav bold">
                <div id=topnav-container>
                    <a href="../main.html">Home</a>
                    <a href="../topic/index.html">주제</a>
                    <a href="../workboard.html">워크보드</a>
                    <a href="./post.html">피드</a>
                </div>
            </nav>
        </div>
        <!-- SideBar -->
        <main>
            <div class="sidebar-container">
                <div class="sidebar-logo">
                <u class="medium">User</u> 님, 안녕하세요!
                </div>
                <ul class="sidebar-navigation">
                <li class="header medium">피드 선택</li>
                <li>
                    <a href="./post.html">
                    <i class="fa fa-quote-left" aria-hidden="true"></i> 작가노트
                    </a>
                </li>
                <li>
                    <a href="./gallary.html">
                    <i class="fa fa-picture-o" aria-hidden="true"></i> 갤러리
                    </a>
                </li>
                <li class="header medium">구독</li>
                <li>
                    <a href="#">
                     발밤
                    </a>
                </li>
                <li>
                    <a href="#">
                     이연
                    </a>
                </li>
                <li>
                    <a href="#">
                     노마드
                    </a>
                </li>
                </ul>
            </div>
            <!-- Main Contents -->
            <section class="feed">
                <ul>
                    <li>
                        <article class="post-container">
                            <div class="post-info">
                                <div class=post-maininfo>
                                    <img class="user-profile" src="../../resources/arab.jpg" alt=프로필>
                                    <h2 class="title text bold">잃어버린 순수</h2>
                                    <p class="username text medium">박수만</p>
                                </div>
                                <div class="post-subinfo">
                                    <p class="update">3시간 전</p>
                                    <p class="pageview">5000회</p>
                                </div>
                            </div>
                            <div class="body-contents">
                                <p>&nbsp;나의 작업의 큰 테마는 잃어버린 순수성이다. 아마 그 속에는 참 인간세상,즉 좋은 세상이나 행복에 대해 이야기하고 삶의 진실이나 진리가 무엇인지에 대하여 말하고 싶기 때문 이다. 이러한 세상은 현대에 들어와 더욱 발전된 과학과 문명으로 인해 서구적이고 합리적인 사고가 팽창 하였으며 그런 삶과 사고는 현대생활의 메마른 정서를 낳게 되고 우리의 사회생활에서 감성적이고 윤리적인 질서를 많이 잃었다고 할 수 있다.
                                    <br><br>
                                    &nbsp;처음엔 자본주의에 의해 빈부차가 심해지면서 생기는 무질서와 혼돈 때문에 아픈 가슴을 가진 사람의 대변이라든가 치유하는 입장이 강했으나 결코 병이든 것은 이들만이 아니라는 생각이 지배하게 되었다. 이성의 세상이 지배하면 할수록 인간세계의 한계가 나타나고 이는 잃어버린 우리 가슴속의 정(情)만이 순수를 되찾을 수 있다는 것이다.
                                    <br><br>
                                    &nbsp;동양사상을 잠깐 살펴보자. 퇴계 이황의 사단 칠정론(四端 七情論)을 보면 사단은(맹자에 나온 말) 인.의.예.지(仁義禮智)를 말하며 자신의 이해관계 등을 따지지 않고 자연스럽게 즉각적으로 발할 수 있다는 것을 강조하고 그러한 마음은 이익이나 욕망을 추구하기 위해 파생적으로 나오는 것이 아니라 본래적인 성향을 이야기한다. 그리고 칠정은(예기의 예운 편) 희(喜).노(怒).애(哀).구(懼).애(愛).오(惡).욕(欲)을 말하며 배우지 않고도 될 수 있는 것이며 자연상태로 방치하면 악을 산출할 수도 있는 것이다. 이를 주자학으로 살펴보면 만물은 이(理)와 기(氣)라는 두 요인으로 이루어져 있는데 ‘이’는 존재의 법칙이며 실천적 당위의 원리이고 보편적인 질서를 근거하며 보편성,무한성,선험성,형이상 등으로 특성 지어진다 ‘기’는 이에 반하여 현실적으로 드러나게 해 주는 것이며 동시에 가려주는 존재이다 그리고 현실적인 존재성을 갖기 위해서는 개별성의 원리이며 개별성,변화성,유한성,형이하 등으로 특성 지어진다. 이러한 이기론이 심성론과 수양론에 적용될 때 인간의 수양목표를 ‘기’ 적인 것이 근원 하는 인욕(人欲)을 누르고 천리(天理)를 보존하는 것으로 설정하게 된다. 여기에서 ‘이’는 ‘기’를 통해 구체적인 모습을 나타내는데 이를 정(情)이라 한다. 결국 ‘사단’인 측은히 여기는 마음(仁)과 악을 부끄러워하고 미워하는 마음(義) 그리고 사양하는 마음(禮)과 옳고 그름을 따지는 마음(知)을 ‘기’의 작용으로 모습을 드러내는 것이며 이를 실현하는 것을 말한다.
                                    <br><br>
                                    &nbsp;결국은 인간다움이 나에게 있어서 중요한 문제이며 데카르트의 말처럼 인간이상도 이하도 아닌 인간의 입장에서 진리와 방법적으로 탐구하여야 하고 신학자의 은총의 빛보다 자연의 빛에 의해 세계를 인식하려는 노력이 필요하다라고 했다.산업혁명시기에 신학중심의 학문체계에 반기를 들었던 인간다운 학예(學藝)운동처럼 인간개념을 잃어버린 감수성을 살펴보고  새시대의 이상적 인간상을 실현하여 보다 인간다운 인성을 찾아가는 게 잃어버린 순수가 아닌가 한다. 세상을 보면 어두운 면에 가슴 아파할 때가 많다. 이는 기실 모든 인간들의 책임일수도 있으며 의무 이기도 하다 그리고 그 속에 예술가가 있다.
                                    <br>
                                </p>
                            </div>
                        </article>
                            <div class="comments-container">
                                <div class="comments-header">
                                    <div class=group>
                                        <h3 class="text">Comments</h3>
                                        <p class="count text regular">97</p>
                                    </div>
                                    <p class="comment-filter">정렬 기준</p>
                                </div>
                                <div class="my-comment">
                                    <img class="user-profile" src="../../resources/judo.png" alt="덧글프로필">
                                    <form class="comments-post-container">
                                        <input type="text" id="comment-bar" placeholder="댓글 추가...">
                                        <button type="submit" class="comment-button medium">
                                            댓글
                                        </button>
                                    </form>
                                </div>
                                <div class="other-comments-container">
                                    <ul>
                                        <li class="other-comments first">
                                            <img class="user-profile" src="../../resources/judo.png" alt="덧글프로필">
                                            <div class="none-image">
                                                <p class="medium text ">Username</p>
                                                <p class="update text">2시간 전</p>
                                                <div class="comment-bar">
                                                    <p>너무 좋은 글입니다. 잘보고 갑니다! :D</p>
                                                </div>
                                                <button type="submit" class="comment-comment-button medium">
                                                    답글
                                                </button>
                                            </div>
                                        </li>
                                        <li class="other-comments">
                                            <img class="user-profile" src="../../resources/judo.png" alt="덧글프로필">
                                            <div class="none-image">
                                                <p class="medium text ">Username</p>
                                                <p class="update text">2시간 전</p>
                                                <div class="comment-bar">
                                                    <p>너무 좋은 글입니다. 잘보고 갑니다! :D</p>
                                                </div>
                                                <button type="submit" class="comment-comment-button medium">
                                                    답글
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </li>
                </ul>
            </section>
            <aside>
                <div>
                    Here is Aside
                </div>
            </aside>
        </main>
       
        
            

        
        

    </body>
</html>